@page "/BankSoal"
;
@implements IBrowserViewportObserver
@using global::CoreLib.BankSoal
@using global::CoreLib.Common
@using Microsoft.AspNetCore.Authorization
@using Web.Client.Feature.BankSoal.Component
@using Web.Client.Interfaces
@implements IAsyncDisposable
@attribute [Authorize(Roles = "Superuser,Dosen,Operator")]
<h3>Kumpulan Soal</h3>


<MudPaper Class="pa-8">
    <div class="d-none d-flex align-center flex-grow-1 mr-2 mb-6">

        <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
            <MudSpacer/>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
            <MudSpacer/>
        </MudHidden>
        <MudHidden Breakpoint="Breakpoint.Xs" Invert="false">
            <MudSpacer/>
        </MudHidden>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="mr-3 py-3"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="CreateSoalClient">
            Buat Soal Baru
        </MudButton>
        <MudTextField Label="Cari Soal"
                      @bind-Value="request.Search"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Search"/>
    </div>
    <MudPaper Class="d-flex flex-wrap justify-xs-center justify-md-start gap-4" Elevation="0">
        @{
            if (isLoading)
            {
                <div class="d-none d-flex align-center flex-grow-1 ma-8">
                    <MudSpacer/>
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                    <MudSpacer/>
                </div>
            }
            else
            {
                foreach (var item in dataExam.Items)
                {
                    var strImage = "/images/exam-bg.jpg";
                    if (item.Thumbnail != null)
                    {
                        strImage = $"data:image;base64,{Convert.ToBase64String(item.Thumbnail)}";
                    }

                    <ExamCard data="@item" strImage="@strImage" RefreshData="@PageChanged"/>
                }
            }
        }
    </MudPaper>
    <div class="d-none d-flex align-center flex-grow-1 mt-8">
        <MudSpacer/>
        <MudPagination Color="Color.Primary" Count="@dataExam.TotalPage" SelectedChanged="PageChanged"/>
        <MudSpacer/>
    </div>

</MudPaper>

@code {
    [Inject] NavigationManager _navigationManager { get; set; }
    [Inject] IExam examRepo { get; set; }
    [Inject] private IBrowserViewportService BrowserViewportService { get; set; }
    private CancellationTokenSource cts = new CancellationTokenSource();

    string search;
    private Breakpoint curentBreak;
    private bool isLoading = true;


    private readonly FindRequest request = new()
    {
        Page = 1,
        PageSize = 15
    };

    PaginatedResponse<Exam> dataExam = new();


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, true);
            dataExam = await examRepo.Find(request, cts.Token);
            isLoading = false;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private void CreateSoalClient(MouseEventArgs obj)
    {
        _navigationManager.NavigateTo("/client/BankSoal/Create", true);
    }

    private async Task PageChanged(int page)
    {
        isLoading = true;
        request.Page = page;
        dataExam = await examRepo.Find(request, cts.Token);
        isLoading = false;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        await cts.CancelAsync();
        cts.Dispose();
        await BrowserViewportService.UnsubscribeAsync(this);
    }

    public Task NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        if (browserViewportEventArgs.IsImmediate)
        {
            curentBreak = browserViewportEventArgs.Breakpoint;
        }
        else
        {
            curentBreak = browserViewportEventArgs.Breakpoint;
        }

        if (curentBreak == Breakpoint.Lg)
        {
            request.PageSize = 15;
        }
        else if (curentBreak == Breakpoint.Md)
        {
            request.PageSize = 12;
        }
        else if (curentBreak == Breakpoint.Xs)
        {
            request.PageSize = 10;
        }

        return InvokeAsync(StateHasChanged);
    }

    public Guid Id { get; }
}