@page "/exam/exambefore/{Id:Guid}"
@using global::Shared.BankSoal
@using global::Shared.RoomSet
@using global::Shared.TakeExam
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Extensions.Core
@using Web.Client.Interfaces
@layout UserExamLayout
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Superuser,User")]
@inject IDialogService Dialog
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Width="100%" Class="pa-4">
        <MudText Typo="Typo.h3" Align="Align.Center">Sebelum Memulai Ujian</MudText>
        <MudPaper Height="350px" Style="overflow: auto;">
            <MudText Typo="Typo.h5">Ketentuan Ujian Online</MudText>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat sem. Cras est tellus, semper ut accumsan id, maximus non libero. Nulla ac lectus aliquam, mattis enim in, molestie tellus. Fusce scelerisque ut diam quis suscipit. Aliquam in ultrices tortor, sit amet porta urna. Vestibulum finibus gravida rutrum. Sed varius, ipsum sed tristique aliquam, lorem leo feugiat mauris, eu mollis mauris risus at lorem. Vivamus accumsan ultricies eros eget elementum. Mauris sit amet aliquet nibh.

            Curabitur id maximus dolor. Mauris dolor massa, eleifend non velit ac, porta semper tellus. Nulla molestie sem metus, nec interdum arcu molestie in. Sed tempus interdum ante, nec semper sapien tincidunt vitae. Nulla molestie, nisi a mollis lobortis, sem diam gravida libero, vel lobortis erat leo in mauris. Fusce interdum erat nunc, sit amet faucibus mi aliquet vitae. Maecenas dignissim massa est, vel condimentum nulla fringilla non. Etiam convallis sem nec orci rutrum, in aliquet metus feugiat. Aenean molestie rutrum condimentum. Nulla finibus imperdiet diam. Nullam pulvinar nec metus ac tincidunt. Proin venenatis eros sit amet magna accumsan, et egestas lorem tincidunt. Mauris hendrerit massa vel risus dapibus viverra. Nullam finibus fringilla ligula id dignissim. Integer interdum lacinia leo sed congue. Aenean fringilla, elit non rhoncus tincidunt, ipsum ipsum tempor eros, condimentum ultrices lorem nunc ac leo.

            Cras suscipit pretium augue. Aenean vulputate libero lobortis sapien sollicitudin, at maximus orci semper. Cras interdum elementum lorem rhoncus vehicula. Vestibulum condimentum mattis mi, quis rhoncus arcu efficitur ut. Quisque malesuada justo non vulputate volutpat. Praesent id pulvinar tellus, in viverra urna. Sed tincidunt faucibus urna.

            Mauris id posuere elit. Integer posuere, purus non mattis fermentum, leo tellus ornare felis, at viverra sapien risus malesuada quam. Ut malesuada tellus at tortor cursus, nec porta metus egestas. Pellentesque eu iaculis dui, eu viverra odio. Curabitur erat lectus, ullamcorper vitae aliquet nec, suscipit nec elit. Nulla sed urna ac lacus tempor iaculis id vitae turpis. Sed augue nulla, malesuada vitae posuere ultricies, pulvinar sit amet lacus.

            Cras vel ligula ligula. Fusce sodales tellus non justo commodo condimentum. Maecenas sem risus, aliquet nec sapien eget, congue tempor risus. Fusce rutrum semper lacinia. Nulla ac placerat nibh. Mauris mattis sem non metus auctor, vel commodo ipsum dapibus. Nulla neque massa, hendrerit eu blandit id, venenatis at lectus. Phasellus turpis mauris, ullamcorper eget euismod sit amet, eleifend ac nunc. Cras fringilla lacinia sem sollicitudin varius. Nulla facilisi. Morbi magna lectus, feugiat vel orci at, tincidunt vestibulum orci. Praesent quis ante tortor. Sed sed convallis est.

            Phasellus at ante tortor. Praesent quis hendrerit turpis, at pharetra risus. Nullam in diam ac nisi ullamcorper maximus. Nullam laoreet condimentum mollis. Suspendisse eget hendrerit ligula. Etiam id fermentum dolor, in varius libero. In vehicula lorem in gravida consequat. Morbi vel purus pellentesque, suscipit leo sed, mattis justo. Nunc in efficitur metus, eu dapibus purus.

            Aliquam non dapibus risus. Donec libero ipsum, iaculis eu maximus ac, iaculis et justo. Ut pellentesque posuere odio. Integer dignissim arcu nec libero feugiat tincidunt. Vivamus sodales sed sem at consequat. Praesent id ullamcorper nisi. Suspendisse non turpis tempor, laoreet ligula in, lobortis tellus. Suspendisse mi eros, vehicula sed finibus vel, ultricies nec magna. Integer tincidunt justo non mauris porttitor, eu semper lacus faucibus. Vestibulum luctus imperdiet neque, at lacinia orci commodo in. Morbi vel interdum dui, ac viverra ex. Quisque mattis dignissim ipsum, at dignissim lacus fermentum ut. Nunc at nunc sed felis lacinia commodo ut a diam. Donec laoreet, urna eu faucibus luctus, neque massa iaculis nunc, id porttitor dui libero rhoncus orci.

            Maecenas gravida ex sed metus facilisis viverra eu in quam. Donec tincidunt pharetra eros, vel dignissim dui ullamcorper eget. Nullam sodales a sem id congue. Aliquam imperdiet, mi eu egestas commodo, nulla augue egestas sem, ac varius neque magna eu mi. Cras tristique lorem pulvinar tortor commodo blandit. Vivamus dapibus diam a ligula mollis lacinia. Phasellus vitae sem quis ligula gravida pulvinar.

            Cras pretium aliquet tellus eu condimentum. Pellentesque ut dolor auctor, lacinia ligula in, accumsan leo. Donec auctor scelerisque hendrerit. Fusce bibendum mi in mi fermentum, id facilisis neque iaculis. Pellentesque rhoncus mi est. Curabitur suscipit dapibus nisi, vitae lacinia orci dignissim eu. Morbi imperdiet neque at magna dapibus aliquet. Proin quis leo nisi. Aliquam rutrum odio et risus sodales, non dictum sapien vehicula. Vivamus quis odio nec augue faucibus posuere. Curabitur vehicula eleifend laoreet. Cras eget egestas erat, vel varius sem. Proin at magna auctor, dictum tellus sit amet, maximus libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            Cras malesuada lacus in blandit iaculis. Proin non nisi nec lectus congue volutpat eget sit amet ipsum. In viverra venenatis pulvinar. Nulla ligula neque, lacinia ac vestibulum sagittis, eleifend at ex. Duis pulvinar nunc vel venenatis vestibulum. Maecenas nisl velit, gravida sit amet nisi a, placerat bibendum elit. Pellentesque venenatis volutpat efficitur. Morbi condimentum vulputate leo id tempor. In pellentesque quam odio, vel condimentum nisl tristique ac. Duis gravida massa ut nisl bibendum dictum. In risus ligula, facilisis sit amet augue id, suscipit iaculis arcu. Phasellus congue nec quam ac malesuada. Quisque facilisis in nibh nec blandit. Fusce et augue ut massa fermentum ultricies quis vel tortor.
        </MudPaper>
        <MudPaper Class="pa-3" Elevation="0">
            <div class="d-flex justify-center flex-grow-1 gap-4">
                @{
                    if (isLoading)
                    {
                        <div class="d-none d-flex align-center flex-grow-1 ma-8">
                            <MudSpacer/>
                            <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                            <MudSpacer/>
                        </div>
                    }
                    else
                    {
                        <table>
                            <tr>
                                <td>
                                    <MudText Typo="Typo.body1">Nama Ujian</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1">@room.Nama</MudText>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudText Typo="Typo.body1">Jumlah Soal</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1">@room.Exam.TotalSoal</MudText>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudText Typo="Typo.body1">Jadwal Ujian</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1">@room.JadwalStart.ToString("dd/mm/yyyy HH:mm") -> @room.JadwalEnd.ToString("dd/mm/yyyy HH:mm")</MudText>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <MudText Typo="Typo.body1">Durasi Ujian</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                                </td>
                                <td>
                                    <MudText Typo="Typo.body1"><b>@userExam.TimeLeft.TotalMinutes.ToString("0") </b> Menit</MudText>
                                </td>
                            </tr>
                        </table>
                    }
                }
            </div>


            <div class="d-flex justify-center flex-grow-1 gap-4">
                <MudButton Class="pa-4 my-4 "
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.Start"
                           Variant="Variant.Filled"
                           OnClick="OnMulai">
                    Mulai Ujian!
                </MudButton>
            </div>
        </MudPaper>


    </MudPaper>
</MudContainer>

@code {
    [Parameter] public string Id { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }
    [Inject] IUserExam _userExamRepo { get; set; }
    [Inject] IRoom _roomRepo { get; set; }
    private UserExam userExam;
    private Room room;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (auth is not null)
            {
            }

            userExam = await _userExamRepo.Get(new Guid(Id));
            room = await _roomRepo.Get(userExam.RoomId);
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OnMulai()
    {
        if (userExam.IsDone)
        {
            _navigationManager.NavigateTo($"/exam/examresult/{Id}");
        }
        else
        {
            userExam.StartDate = DateTime.Now;
            userExam.IsOngoing = true;
            var res = await _userExamRepo.Update(userExam);
            if (res.Flag)
            {
                _navigationManager.NavigateTo($"exam/userexam/{Id}");
            }
        }
        
    }
    
    

}