@page "/exam/examresult/{Id:Guid}"
@using Blazored.SessionStorage
@using global::Shared.BankSoal
@using global::Shared.RoomSet
@using global::Shared.TakeExam
@using Microsoft.AspNetCore.Authorization
@using Web.Client.Interfaces
@layout UserExamLayout
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Superuser,User")]
@inject IDialogService Dialog
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISessionStorageService SessionStorage

<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeNavBack"/>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Width="100%" Class="pa-4">
        <MudText Align="Align.Center" Typo="Typo.h3">Hasil Ujian</MudText>
        <MudPaper Class="pa-4">
            <div id="unique_id_scroll_section" class="ma-0" style="height:200px;overflow: auto;">
                <MudStack Wrap="Wrap.Wrap" Spacing="4" Row="@true" AlignItems="AlignItems.Start">
                    @{
                        if (!isLoading)
                        {
                            foreach (var item in room.Exam.Soals)
                            {
                                <MudButton Variant="CheckSoalIsAnswer(item)"
                                           Color="Color.Primary"
                                           Style="width: 50px; height: 50px;">
                                    @item.Nomor
                                </MudButton>
                            }
                        }
                    }

                </MudStack>
            </div>
        </MudPaper>

        @{
            if (isLoading)
            {
                <div class="d-none d-flex align-center flex-grow-1 ma-8">
                    <MudSpacer/>
                    <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
                    <MudSpacer/>
                </div>
            }
            else
            {
                <div class="d-none d-flex align-center flex-grow-1 ma-8">
                    <MudSpacer/>
                    <table>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Nama Ujian</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">@room.Nama</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Jumlah Soal</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">@room.Exam.TotalSoal</MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Waktu Selesai</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">
                                    @userExam.EndDate.Value.ToString("dd/MM/yyyy - HH:mm")
                                </MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Sisa Waktu</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">
                                    <b>@userExam.TimeLeft.TotalMinutes.ToString("0") </b> Menit
                                </MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Total Score</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">
                                    <b>@userExam.Score</b> / @room.Exam.TotalPoint
                                </MudText>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <MudText Typo="Typo.body1">Nilai</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1" Class="mx-2">:</MudText>
                            </td>
                            <td>
                                <MudText Typo="Typo.body1">
                                    <b>@userExam.ScoreNormalize.Value.ToString("0.00")</b>
                                </MudText>
                            </td>
                        </tr>
                    </table>
                    <MudSpacer/>
                </div>
            }
        }

        <div class="d-flex justify-center flex-grow-1 gap-4">
            <MudButton Class="pa-4 my-4 "
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.Start"
                       Variant="Variant.Filled"
                       OnClick="OnBackHome">
                Kembali Ke Menu!
            </MudButton>
        </div>
    </MudPaper>
</MudContainer>

@code {
    [Parameter] public string Id { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }
    [Inject] IUserExam _userExamRepo { get; set; }
    [Inject] IRoom _roomRepo { get; set; }
    private UserExam userExam;
    private Room room;
    private bool isLoading = true;
    readonly string privateKey = "zlxkjcoijasdfnwqwesfvlaksnoaiscnzxnocqanqwf";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (auth is not null)
            {
            }

            userExam = await _userExamRepo.Get(new Guid(Id));
            room = await _roomRepo.Get(userExam.RoomId);

            isLoading = false;
            StateHasChanged();
        }
    }

    private Variant CheckSoalIsAnswer(Soal soal)
    {
        if (userExam.UserAnswers == null)
            return Variant.Outlined;
        if (userExam.UserAnswers.Find(x => x.SoalId == soal.Id).SoalJawabanId == null)
            return Variant.Outlined;
        return Variant.Filled;
    }

    private async Task OnBackHome()
    {
        await SessionStorage.RemoveItemAsync(privateKey);
        _navigationManager.NavigateTo("/userroom", true);
    }

    private async Task OnBeforeNavBack(LocationChangingContext locationChangingContext)
    {
        if (locationChangingContext.TargetLocation.Contains($"/exam/userexam/{Id}", StringComparison.OrdinalIgnoreCase))
        {
            locationChangingContext.PreventNavigation();
        }
    }

}