@page "/exam/userexam/{Id:Guid}"
@using global::Shared.BankSoal
@using global::Shared.Common
@using global::Shared.RoomSet
@using global::Shared.TakeExam
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Extensions.Core
@using Web.Client.Interfaces
@layout UserExamLayout
@rendermode InteractiveServer
@attribute [Authorize]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IDialogService Dialog

<NavigationLock ConfirmExternalNavigation="true" OnBeforeInternalNavigation="OnBeforeNavBack"/>

@if (isLoading)
{
    <div class="d-none d-flex align-center flex-grow-1 ma-8">
        <MudSpacer/>
        <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
        <MudSpacer/>
    </div>
}
else
{
    <MudGrid>
        <MudItem md="9">

            <div id="scroll_soal" class="ma-0" style="height:85vh;overflow: auto;">
                @{
                    foreach (var item in soalPaging.Items)
                    {
                        <MudPaper Class="pa-4 ma-2 my-3">
                            <div class="d-flex flex-grow-1 gap-1">
                                <MudPaper Class="flex-none d-flex py-3" Width="25px" Elevation="0">
                                    <MudText Typo="Typo.body1">@item.Nomor.</MudText>
                                </MudPaper>
                                <MudPaper Class="flex-1 d-flex flex-column" Elevation="0">
                                    <MudExRichTextEdit
                                        @ref="@Editor"
                                        BorderColor="MudExColor.Transparent"
                                        ReadOnly
                                        Class="m-2"
                                        @bind-Value="@item.Pertanyaan">
                                    </MudExRichTextEdit>
                                    <MudRadioGroup T="Guid?" Class="ml-3" @bind-Value="@userExam.UserAnswers.Find(x => x.SoalId == item.Id).SoalJawabanId">
                                        @{
                                            foreach (var jawaban in item.PilihanJawaban)
                                            {
                                                <MudItem xs="12">
                                                    <MudRadio Value="jawaban?.Id" Color="Color.Primary">@jawaban.Jawaban</MudRadio>
                                                </MudItem>
                                            }
                                        }
                                    </MudRadioGroup>
                                </MudPaper>
                            </div>

                        </MudPaper>
                    }
                }
            </div>
            <div class="d-none d-flex align-center flex-grow-1 mt-8">
                <MudSpacer/>
                <MudPagination Color="Color.Primary" Count="@soalPaging.TotalPage" SelectedChanged="PageChanged"/>
                <MudSpacer/>
            </div>

        </MudItem>
        <MudItem md="3">
            <MudPaper Class="pa-4">
                <div id="unique_id_scroll_section" class="ma-0" style="height:200px;overflow: auto;">
                    <MudStack Wrap="Wrap.Wrap" Spacing="4" Row="@true" AlignItems="AlignItems.Start">
                        @{
                            foreach (var item in room.Exam.Soals)
                            {
                                <MudButton Variant="CheckSoalIsAnswer(item)"
                                           Color="Color.Primary"
                                           Style="width: 50px; height: 50px;">
                                    @item.Nomor
                                </MudButton>
                            }
                        }

                    </MudStack>
                </div>
            </MudPaper>

            <MudPaper Class="my-3">
                <MudWatch @ref="_watch" Interval="TimeSpan.FromMilliseconds(1)" Mode="WatchMode.CountDown"
                          CountdownTime="userExam.TimeLeft"
                          CountdownCompleted="() => ForceEnd()"
                          ShowHour="true" ShowMinute="true" ShowSecond="true" ShowMillisecond="false"
                          Delimiter="@(":")" Typo="Typo.h5" Color="Color.Default"/>

            </MudPaper>

            <div class="d-flex justify-center flex-grow-1 gap-4">
                <MudButton Class="pa-4 my-5 "
                           Color="Color.Warning"
                           OnClick="EndExam"
                           StartIcon="@Icons.Material.Filled.ExitToApp"
                           Variant="Variant.Filled">
                    Selesai!
                </MudButton>
            </div>

        </MudItem>
    </MudGrid>
}


@code {
    [Parameter] public string Id { get; set; }
    [Inject] IUserExam _userExamRepo { get; set; }
    [Inject] IRoom _roomRepo { get; set; }
    [Inject] NavigationManager _navigationManager { get; set; }

    private Room room;
    private UserExam userExam;

    MudExRichTextEdit Editor;
    MudWatch _watch = new();
    PaginatedResponse<Soal> soalPaging;

    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (auth is not null)
            {
            }

            userExam = await _userExamRepo.Get(new Guid(Id));
            room = await _roomRepo.Get(userExam.RoomId);
            soalPaging = await room.Exam.Soals.ToPagingList(1, 10);
            isLoading = false;


            StateHasChanged();
        }

        _watch.Start();
    }

    private Variant CheckSoalIsAnswer(Soal soal)
    {
        if (userExam.UserAnswers == null)
            return Variant.Outlined;
        if (userExam.UserAnswers.Find(x => x.SoalId == soal.Id).SoalJawabanId == null)
            return Variant.Outlined;
        return Variant.Filled;
    }

    private async Task PageChanged(int page)
    {
        isLoading = true;
        soalPaging = await room.Exam.Soals.ToPagingList(page, 10);
        isLoading = false;
        StateHasChanged();
    }

    private async Task ForceEnd()
    {
        userExam.EndDate = DateTime.Now;
        userExam.IsOngoing = false;
        userExam.IsDone = true;
        userExam.TimeLeft = _watch.Value;
        var res = await _userExamRepo.Update(userExam);
        if (res.Flag)
            _navigationManager.NavigateTo($"/exam/examresult/{Id}");
    }


    private async Task EndExam()
    {
        var result = await Dialog.ShowMessageBox(
            "Warning",
            $"Yakin Jawaban anda sudah benar?",
            yesText: "Ya", cancelText: "Tidak");
        StateHasChanged();
        if (result != null)
        {
            _watch.Stop();
            userExam.IsDone = true;
            userExam.IsOngoing = false;
            userExam.EndDate = DateTime.Now;
            userExam.TimeLeft = _watch.Value;
            var res = await _userExamRepo.Update(userExam);
            if (res.Flag)
                _navigationManager.NavigateTo($"/exam/examresult/{Id}");
        }
    }


    private async Task OnBeforeNavBack(LocationChangingContext locationChangingContext)
    {
        if (locationChangingContext.TargetLocation.Contains($"/exam/exambefore/{Id}"))
        {
            locationChangingContext.PreventNavigation();
        }
    }


}