@using global::CoreLib.BankSoal
@using global::CoreLib.RoomSet
@using global::CoreLib.TakeExam
@using Web.Client.Interfaces
@inject AuthenticationStateProvider AuthenticationStateProvider
@implements IAsyncDisposable

<MudDialog>
    <DialogContent>
        <MudPaper Class="pa-4 ma-2 mb-2">
            <MudStack Spacing="4">
                <div class="d-flex justify-space-between flex-grow-1 gap-8">
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption">Nama Ruangan</MudText>
                        <MudText Typo="Typo.h6">@room.Nama</MudText>
                    </MudStack>
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption" Align="Align.End">Durasi Ujian</MudText>
                        <MudText Typo="Typo.h6">@room.Durasi Menit</MudText>
                    </MudStack>
                </div>

                <div class="d-flex justify-space-between flex-grow-1 gap-8">
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption">Jadwal Mulai</MudText>
                        <MudText Typo="Typo.h6">@room.JadwalStart.ToLocalTime().ToString("dd/MM/yyyy : hh:mm")</MudText>
                    </MudStack>
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption" Align="Align.End">Jadwal Selesai</MudText>
                        <MudText Typo="Typo.h6" Align="Align.End">@room.JadwalEnd.ToLocalTime().ToString("dd/MM/yyyy : hh:mm")</MudText>
                    </MudStack>
                </div>

                <div class="d-flex justify-space-between flex-grow-1 gap-8">
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption">Score Terahir</MudText>
                        <MudText Typo="Typo.h6" Align="Align.Center">@userExam.ScoreData</MudText>
                    </MudStack>
                    <MudStack Spacing="-2">
                        <MudText Typo="Typo.caption" Align="Align.End">Nilai Terahir</MudText>
                        <MudText Typo="Typo.h6" Align="Align.Center">@userExam.ScoreNormalizeData?.ToString("F2")</MudText>
                    </MudStack>
                </div>



                @{
                    if (room.IsRepeatable && room.JadwalEnd.ToLocalTime() > DateTime.Now.ToLocalTime())
                    {
                        <MudText Align="Align.Center" Typo="Typo.h6">Kesempatan Mengulang : @userExam.RetryCount X</MudText>
                        if (!userExam.IsOngoing && userExam.IsDone)
                        {
                            <MudButton FullWidth Variant="Variant.Filled"
                                       OnClick="UlangUjianClick"
                                       Color="Color.Primary"
                                       Size="Size.Large"
                                       StartIcon="@Icons.Material.Rounded.Refresh">Mengulang Ujian</MudButton>
                        }
                        else
                        {
                            <MudText Typo="Typo.body1">Jika Anda Sudah Mengerjakan Sekali Anda Dapat Mengulang Ujian Tersebut</MudText>
                        }

                    }
                }

            </MudStack>

        </MudPaper>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary"
                   Class="ma-3 pa-3"
                   StartIcon="@Icons.Material.Rounded.ArrowForwardIos"
                   OnClick="NavToRoom" FullWidth
                   Size="Size.Large"
                   Variant="Variant.Outlined">Masuk Ke Ruangan</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Inject] private IDialogService DialogService { get; set; }
    [Inject] private IUserExam _userExamRepo { get; set; }
    [Inject] private NavigationManager _navigationManager { get; set; }
    [Inject] ISnackbar _snackbar { get; set; }
    
    private CancellationTokenSource cts = new CancellationTokenSource();

    [Parameter]
    public
        UserExam userExam { get; set; } = new();

    [Parameter]
    public
        Room room { get; set; } = new();

    void Cancel()
    {
        MudDialog.Cancel();
    }

    int examid;


    List<Exam> _exams = new();
    DateTime? dateStart = DateTime.Today;
    DateTime? dateEnd = DateTime.Today;

    TimeSpan? timeStart = new TimeSpan(00, 00, 00);
    TimeSpan? timeEnd = new TimeSpan(00, 00, 00);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            if (auth is not null)
            {
            }
            dateStart = room.JadwalStart.ToLocalTime();
            dateEnd = room.JadwalEnd.ToLocalTime();
            timeStart = room.JadwalStart.ToLocalTime().TimeOfDay;
            timeEnd = room.JadwalEnd.ToLocalTime().TimeOfDay;

            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        

    }


    private void NavToRoom()
    {
        if (userExam.IsDone)
        {
            _navigationManager.NavigateTo($"exam/examresult/{userExam.Id}", true);
        }
        else if (userExam.IsOngoing)
        {
            _navigationManager.NavigateTo($"exam/userexam/{userExam.Id}", true);
        }
        else if(room.JadwalEnd.ToLocalTime() > DateTime.Now.ToLocalTime())
        {
            _navigationManager.NavigateTo($"exam/exambefore/{userExam.Id}", true);
        }
        else
        {
            _navigationManager.NavigateTo($"exam/examresult/{userExam.Id}", true);
        }
        
    }

    private async Task UlangUjianClick()
    {
        if (userExam.RetryCount == 0)
        {
            _snackbar.Add(
                @<div>
                    <h3>Info!!</h3>
                    <ul>
                        <li>Gagal</li>
                        <li>Percobaan Mengulang anda Sudah Habis</li>
                    </ul>
                </div>
                , Severity.Error);
            return;
        }
        
        var result = await DialogService.ShowMessageBox(
            "Warning",
            "Yakin Mau Mengulang Ujian?, semua jawaban akan terhapus!",
            "Ya", cancelText: "Tidak");
        StateHasChanged();
        if (result != null)
        {
            userExam.RetryCount -= 1;
            userExam.IsDone = false;
            userExam.IsOngoing = false;
        
            var res = await _userExamRepo.RetryExam(userExam.Id, cts.Token);
            if (res.Flag)
            {
                NavToRoom();
            }
        }
    }

    public async ValueTask DisposeAsync()
    {
        await cts.CancelAsync();
        cts.Dispose();
    }

}